<% layout('panel') -%>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">
            <form role="form" action="/reports/report" method="post">
                <div class="row">
                    <!-- select Report Type -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="reportsMenu">Select Report Type</label>
                            <select id="reportsMenu" name="reportsMenu" class="form-control" required>
                                <option value="" selected disabled>Report Type</option>
                                <option value="Repair">Repair</option>
                                <option value="PPM">PPM</option>
                                <option value="Daily">Daily Inspection</option>
                            </select>
                        </div>
                    </div>

                    <!-- select The Department -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="departmentsMenu">Select Department</label>
                            <select id="departmentsMenu" name="departmentsMenu" class="form-control" disabled required>
                                <option value="" selected disabled>Department Name</option>
                                <option value="1">Cardiac Catheterization</option>
                                <option value="2">Surgery Care</option>
                                <option value="3">Cardiology</option>
                                <option value="4">Emergency</option>
                            </select>
                        </div>
                    </div>

                    <!-- select The Device -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="devicesMenu">Select Device</label>
                            <select id="devicesMenu" name="devicesMenu" class="form-control" disabled required>
                                <option value="" selected disabled>Device Name</option>
                                <option value="all" disabled>All Devices</option>
                            </select>
                        </div>
                    </div>

                    <!-- select The Serial -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="serialsMenu">Select Serial</label>
                            <select id="serialsMenu" name="serialsMenu" class="form-control" disabled>
                                <option value="" selected disabled>Serial</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row no-print">
                    <div class="col-12">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-print"></i> Print
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    let allDevices = [];
    let d = {};
</script>

<% for (var i = 0; i < devices.length; i++) { %>
    <script>
        d = {
            id: `<%= devices[i].id %>`,
            Name: `<%= devices[i].Name %>`,
            Serial: `<%= devices[i].Serial %>`,
            DepartmentId: `<%= devices[i].DepartmentId %>`
        }
        allDevices.push(d);
    </script>
<% } %>

<script type="text/javascript">
    const departsMenu = document.querySelector('#departmentsMenu');
    const devicesMenu = document.querySelector('#devicesMenu');
    const serialsMenu = document.querySelector('#serialsMenu');
    const reportsMenu = document.querySelector('#reportsMenu');
    let devicesOfDepartment;
    let devicesLength;
    let serialsLength;

    // Functions Declarations
    // Delete Old Options of Devices
    const deleteDevices = () => {
        devicesLength = devicesMenu.options.length;
        for (let j = 2; j < devicesLength; j++) {
            devicesMenu.removeChild(devicesMenu.options[2])
        }
        devicesMenu.selectedIndex = 0;
    };

    // Delete Old Option for Serial
    const deleteSerials = () => {
        if (serialsMenu.options.length === 2) {
            serialsMenu.removeChild(serialsMenu.options[1]);
            serialsMenu.selectedIndex = 0;
        }
    };

    // Create menu options with the given menu type and data.
    const createMenuOptions = (menu, dataList, name, value, index) => {
        dataList.forEach((item) => {
            let opt = document.createElement('option');                // create new option element
            opt.appendChild( document.createTextNode(item[name]) );    // create text node to add to option element (opt)
            opt.value = item[value];                                   // set value property of opt
            menu.appendChild(opt);                                     // add opt to end of select box (sel)
            menu.selectedIndex = index;
        });
    };

    // EventLister for Drop Menus
    // To reset devices and serials and create new devices
    departsMenu.addEventListener('change', () => {
        // Enable devices menu after choosing the department
        if (departsMenu.value !== "") {
            devicesMenu.disabled = false;
        }

        // Get the devices with the selected department only
        devicesOfDepartment = allDevices.filter((device) => device.DepartmentId === departsMenu.value);
        devicesMenu.options[1].disabled = false;
        deleteDevices();
        deleteSerials();
        createMenuOptions(devicesMenu, devicesOfDepartment, 'Name', 'id', 0);
    });

    // To reset serials and select the new serial of the selected device.
    devicesMenu.addEventListener('change', () => {
        // Enable serials menu after choosing the device
        if (devicesMenu.value !== "") {
            serialsMenu.disabled = false;
        }

        if (devicesMenu.value !== 'all') {
            const selectedDevice = devicesOfDepartment.filter((device) => device.id === devicesMenu.value);
            deleteSerials();
            createMenuOptions(serialsMenu, selectedDevice, 'Serial', 'Serial', 1);
            serialsMenu.disabled = false;
        }
        else {
            deleteSerials();
            serialsMenu.disabled = true;
        }
    });

    reportsMenu.addEventListener('change', () => {
        // Enable departments menu after choosing the report type
        if (reportsMenu.value !== "") {
            departsMenu.disabled = false;
        }

        // Reset Options of Department and delete other options
        departsMenu.selectedIndex = 0;
        deleteDevices();
        deleteSerials();
    });
</script>
