<% layout('panel') -%>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">
            <form role="form" action="/reports/report" method="post">
                <div class="row">
                    <!-- select Report Type -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="reportsMenu">Select Report Type</label>
                            <select id="reportsMenu" name="reportsMenu" class="form-control" required>
                                <option value="" selected disabled>Report Type</option>
                                <option value="Repair">Repair</option>
                                <option value="PPM">PPM</option>
                                <option value="Daily">Daily Inspection</option>
                            </select>
                        </div>
                    </div>

                    <!-- select The Department -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="departmentsMenu">Select Department</label>
                            <select id="departmentsMenu" name="departmentsMenu" class="form-control" required>
                                <option value="" selected disabled>Department Name</option>
                                <option value="1">Cardiac Catheterization</option>
                                <option value="2">Surgery Care</option>
                                <option value="3">Cardiology</option>
                                <option value="4">Emergency</option>
                            </select>
                        </div>
                    </div>

                    <!-- select The Device -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="devicesMenu">Select Device</label>
                            <select id="devicesMenu" name="devicesMenu" class="form-control" required>
                                <option value="" selected disabled>Device Name</option>
                                <option value="all">All Devices</option>
                            </select>
                        </div>
                    </div>

                    <!-- select The Serial -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="serialsMenu">Select Serial</label>
                            <select id="serialsMenu" name="serialsMenu" class="form-control">
                                <option value="" selected disabled>Serial</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row no-print">
                    <div class="col-12">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-print"></i> Print
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    let allDevices = [];
    let d = {};
</script>

<% for (var i = 0; i < devices.length; i++) { %>
    <script>
        d = {
            id: `<%= devices[i].id %>`,
            Name: `<%= devices[i].Name %>`,
            Serial: `<%= devices[i].Serial %>`,
            DepartmentId: `<%= devices[i].DepartmentId %>`
        }
        allDevices.push(d);
    </script>
<% } %>

<script type="text/javascript">
    const departsMenu = document.querySelector('#departmentsMenu');
    const devicesMenu = document.querySelector('#devicesMenu');
    const serialsMenu = document.querySelector('#serialsMenu');
    const reportsMenu = document.querySelector('#reportsMenu');
    let departDevicesList;
    let devicesLength;
    let serialsLength;

    // Delete Old Options of Devices
    const deleteDevices = () => {
        devicesLength = devicesMenu.options.length;
        for (let j = 2; j < devicesLength; j++) {
            devicesMenu.removeChild(devicesMenu.options[2])
        }
        devicesMenu.selectedIndex = 0;
    };

    // Delete Old Option for Serial
    const deleteSerials = () => {
        if (serialsMenu.options.length === 2) {
            serialsMenu.removeChild(serialsMenu.options[1]);
            serialsMenu.selectedIndex = 0;
        }
    };

    // Create options with the devices of that department
    const createDevices = (devicesList) => {
        devicesList.forEach((device) => {
            let opt = document.createElement('option');                 // create new option element
            opt.appendChild( document.createTextNode(device.Name) );    // create text node to add to option element (opt)
            opt.value = device.id;                                      // set value property of opt
            devicesMenu.appendChild(opt);                               // add opt to end of select box (sel)
        });
    };

    // EventLister for departments drop menu
    departsMenu.addEventListener('change', () => {
        const depID = departsMenu.value;
        console.log(`DepartmentID: ${depID}`);

        // Get the devices with the selected department only
        departDevicesList = allDevices.filter((device) => device.DepartmentId === depID);

        deleteDevices();
        deleteSerials();
        createDevices(departDevicesList);
        serialsMenu.disabled = false;
    });

    devicesMenu.addEventListener('change', () => {
        // Get the serial with the selected device only
        const devID = devicesMenu.value;
        serialsLength = serialsMenu.options.length;
        console.log(`deviceID: ${devID}`);

        if (devID !== 'all') {
            const selectedDevice = departDevicesList.filter((device) => device.id === devID)[0];
            console.log(`selected Device Name: ${selectedDevice.Name}`);

            console.log(`serials Length: ${serialsLength}`);
            // Delete Old Options of Serial
            deleteSerials();

            // Create option with the serial of that device
            serialsMenu.disabled = false;
            let opt = document.createElement('option');                           // create new option element
            opt.appendChild( document.createTextNode(selectedDevice.Serial) );    // create text node to add to option element (opt)
            opt.value = selectedDevice.Serial;                                    // set value property of opt
            serialsMenu.appendChild(opt);                                         // add opt to end of select box (sel)
            serialsMenu.selectedIndex = 1;
        }
        else {
            // Delete Old Option for Serial
            deleteSerials();
            serialsMenu.disabled = true;
        }
    });

    // Event for clicking on reports menu
    reportsMenu.addEventListener('change', () => {
        devicesLength = devicesMenu.options.length;
        console.log(`devicesLength ${devicesLength}`);

        // Reset Options of Department and delete other options
        departsMenu.selectedIndex = 0;
        deleteDevices();
        deleteSerials();
    });
</script>
