<% layout('panel') -%>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">
            <form role="form" action="/reports/report" method="post">
                <div class="row">
                    <!-- select Report Type -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="reportsMenu">Select Report Type</label>
                            <select id="reportsMenu" name="reportsMenu" class="form-control" required>
                                <option value="" selected disabled>Report Type</option>
                                <option value="Repair">Repairing</option>
                                <option value="PPM">PPM</option>
                                <option value="Daily">Daily Inspection</option>
                            </select>
                        </div>
                    </div>

                    <!-- select The Department -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="departmentsMenu">Select Department</label>
                            <select id="departmentsMenu" name="departmentsMenu" class="form-control" required>
                                <option value="" selected disabled>Department Name</option>
                                <option value="1">Cardiac Catheterization</option>
                                <option value="2">Surgery Care</option>
                                <option value="3">Cardiology</option>
                                <option value="4">Emergency</option>
                            </select>
                        </div>
                    </div>

                    <!-- select The Device -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="devicesMenu">Select Device</label>
                            <select id="devicesMenu" name="devicesMenu" class="form-control" required>
                                <option value="" selected disabled>Device Name</option>
                            </select>
                        </div>
                    </div>

                    <!-- select The Serial -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="serialsMenu">Select Serial</label>
                            <select id="serialsMenu" name="serialsMenu" class="form-control" required>
                                <option value="" selected disabled>Serial</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row no-print">
                    <div class="col-12">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-print"></i> Print
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    let allDevices = [];
    let d = {};
</script>

<% for (var i = 0; i < devices.length; i++) { %>
    <script>
        d = {
            id: `<%= devices[i].id %>`,
            Name: `<%= devices[i].Name %>`,
            Serial: `<%= devices[i].Serial %>`,
            DepartmentId: `<%= devices[i].DepartmentId %>`
        }
        allDevices.push(d);
    </script>
<% } %>

<script type="text/javascript">
    const departsMenu = document.querySelector('#departmentsMenu');
    const devicesMenu = document.querySelector('#devicesMenu');
    const serialsMenu = document.querySelector('#serialsMenu');
    let departDevicesList;

    departsMenu.addEventListener('change', () => {
        // Get the devices with the selected department only
        const depID = departsMenu.value;
        let devicesLength = devicesMenu.options.length;

        console.log(`DepID, ${depID}`);
        departDevicesList = allDevices.filter((device) => device.DepartmentId === depID);

        // Delete Old Options of Devices
        for (let j = 1; j < devicesLength; j++) {
            devicesLength = devicesMenu.options.length;
            devicesMenu.removeChild(devicesMenu.options[devicesLength-1])
        }

        // Create options with the devices of that department
        departDevicesList.forEach((device) => {
            let opt = document.createElement('option');                 // create new option element
            opt.appendChild( document.createTextNode(device.Name) );    // create text node to add to option element (opt)
            opt.value = device.id;                                      // set value property of opt
            devicesMenu.appendChild(opt);                               // add opt to end of select box (sel)
        });
    });

    devicesMenu.addEventListener('change', () => {
        // Get the serial with the selected device only
        const devID = devicesMenu.value;
        let serialsLength = serialsMenu.options.length;
        console.log(`defID ${devID}`);
        const selectedDevice = departDevicesList.filter((device) => device.id === devID)[0];
        console.log(`selectedDevice ${selectedDevice}`);
        console.log(`selectedDevice Name ${selectedDevice.Name}`);

        console.log(`serialsLength ${serialsLength}`);
        // Delete Old Options of Serial
        for (let j = 1; j < serialsLength; j++) {
            serialsLength = serialsMenu.options.length;
            serialsMenu.removeChild(serialsMenu.options[serialsLength-1]);
            console.log('Deleted ', selectedDevice.Serial);
        }

        // Create option with the serial of that device
        let opt = document.createElement('option');                           // create new option element
        opt.appendChild( document.createTextNode(selectedDevice.Serial) );    // create text node to add to option element (opt)
        opt.value = selectedDevice.Serial;                                    // set value property of opt
        serialsMenu.appendChild(opt);                                         // add opt to end of select box (sel)
        serialsMenu.selectedIndex = 1;
    });


</script>
