<% layout('panel') -%>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">
            <form role="form">
                <div class="row">
                    <!-- select The Department -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Select Department</label>
                            <select id="departmentsMenu" class="form-control">
                                <option value="" selected>Department Name</option>
                                <option value="1">Cardiac Catheterization</option>
                                <option value="2">Surgery Care</option>
                                <option value="3">Cardiology</option>
                                <option value="4">Emergency</option>
                            </select>
                        </div>
                    </div>

                    <!-- select The Device -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Select Device</label>
                            <select id="devicesMenu" class="form-control">
                                <option selected>Device Name</option>
                                <option>option 1</option>
                            </select>
                        </div>
                    </div>

                    <!-- select The Serial -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Select Serial</label>
                            <select id="serialsMenu" class="form-control">
                                <option selected>Serial</option>
                                <option>option 1</option>
                            </select>
                        </div>
                    </div>

                    <!-- select Report Type -->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Select Report Type</label>
                            <select id="reportsMenu" class="form-control">
                                <option selected>Report Type</option>
                                <option value="1">option 1</option>
                                <option value="2">option 2</option>
                                <option value="3">option 3</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row no-print">
                    <div class="col-12">
                        <a href="" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script> let allDevices = <% devices %> </script>


<script type="text/javascript">
    const departsMenu = document.querySelector('#departmentsMenu');
    const devicesMenu = document.querySelector('#devicesMenu');
    const serialsMenu = document.querySelector('#serialsMenu');

    departsMenu.addEventListener('change', function ()
    {
        // Get the devices with the selected department only
        const depID = departsMenu.value;
        console.log(depID);
        console.log(allDevices);
        const departDevicesList = allDevices.filter((device) => device.DepartmentId === depID);
        console.log(departDevicesList);

        // // Create options with the devices of that department
        // for (let i = 0; i < departDevicesList.length; i++)
        // {
        //     // create new option element
        //     let opt = document.createElement('option');
        //
        //     // create text node to add to option element (opt)
        //     opt.appendChild( document.createTextNode(departDevicesList.Name) );
        //
        //     // set value property of opt
        //     opt.value = departDevicesList.id;
        //
        //     // add opt to end of select box (sel)
        //     devicesMenu.appendChild(opt);
        // }
    });

</script>
