<section class="invoice">

    <!-- Table row -->
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-striped">
                <thead>

                <tr>
                    <th>Device</th>
                    <th>Department</th>
                    <th>Eng/Tech</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>

                <% for (var i = 0; i < data.length; i++) { %>
                    <tr>
                        <td>data.Device</td>
                        <td>data.Department</td>
                        <td>data.Eng</td>
                        <td>data.Description</td>
                        <td>data.Action</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</section>