<% layout('panel') -%>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body align-content-center">

            <% if (report.length > 0) { %>
                <div id="printableArea">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0"><%= report[0].type %> Detailed Report </p>
                        <p class="mb-1"> <%= user.Name %>  </p>
                        <p class="mb-1"> <%= report[0].dataValues.Department.Name %> </p>
                        <p> Created At : <%= report[0].createdAt %></p>
                        <footer class="blockquote-footer"><cite title="Source Title">Extra Cool CMMS</cite></footer>
                    </blockquote>
                    <!--    Alert        -->
                    <% if (report[0].type === "Repair") { %>
                        <% include repair.ejs %>
                    <% } %>
                    <!--    Daily        -->
                    <% if (report[0].type === "Daily") { %>
                        <% include daily.ejs%>
                    <% } %>
                    <!--    PPM        -->
                    <% if (report[0].type === "PPM") { %>
                        <% include ppm.ejs%>
                    <% } %>
                </div>

                <input type="button" class="btn btn-app center" onclick="printDiv('printableArea')" value="Save">


                <script type="text/javascript">
                    function printDiv(divName) {
                        var printContents = document.getElementById(divName).innerHTML;
                        var originalContents = document.body.innerHTML;

                        document.body.innerHTML = printContents;

                        window.print();

                        document.body.innerHTML = originalContents;
                    }
                </script>
            <% } else {%>
                <h1> NO RESULTS FOUND</h1>
            <% } %>
        </div>
    </div>
</div>
