<div class="card">
    <div class="card-header">
        <h3 class="card-title">Daily Report Form (department)</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form method="post" action="/workorder/add">
            <div class="form-group">
                <label> Engineer/Technician </label>
                <input type="text" name="name" class="form-control" placeholder="Engineer/Technician ..." value="<%= user.Name %>">
            </div>

            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Device</th>
                    <th>Foreign Substances Removed</th>
                    <th> Cracks Found </th>
                    <th>Broken Battery</th>
                    <th>Damaged Battery</th>
                    <th>Spare Battery</th>
                    <th>Broken Cable </th>
                    <th>Damaged Cable </th>
                    <th>Spare Cable </th>
                    <th>Other Inspections </th>
                </tr>
                </thead>
                <tbody>
                <% console.log("HERERERER", devices)%>
                <% devices.forEach(dev => { %>
                    <tr>
                        <td><%= dev.Name%></td>
                        <td><input name="removed[]" type="checkbox"></td>
                        <td><input name="cracks[]" type="checkbox"></td>
                        <td> <input name="broken[]" type="checkbox"> </td>
                        <td><input name="damage[]" type="checkbox"></td>
                        <td> <input name="spare[]" type="checkbox"> </td>
                        <td><input name="broken_cable[]" type="checkbox"> </td>
                        <td><input name="damage_cable[]" type="checkbox"> </td>
                        <td> <input name="spare_cable[]" type="checkbox"></td>
                        <td> <textarea name="other[]" rows="2" placeholder="Parts ..."></textarea> </td>
                    </tr>
                <%})%>

                </tbody>
                <tfoot>
                <tr>
                    <th>Device</th>
                    <th>Foreign Substances Removed</th>
                    <th> Cracks Found </th>
                    <th>Broken Battery</th>
                    <th>Damaged Battery</th>
                    <th>Spare Battery</th>
                    <th>Broken Cable </th>
                    <th>Damaged Cable </th>
                    <th>Spare Cable </th>
                    <th>Other Inspections </th>
                </tr>
                </tfoot>
            </table>
            <input type="text" name="type" value="<%= notification.Type %>" hidden>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary" >Submit</button>
            </div>

        </form>
    </div>


    <!-- /.card-body -->
</div>

<script>
    $(function() {
        $('.submit').click(function() {
            let removed = $('input[name="removed[]"]').map(function(){
                return this.value;
            }).get();
            let cracks = $('input[name="cracks[]"]').map(function(){
                return this.value;
            }).get();
            let broken = $('input[name="broken[]"]').map(function(){
                return this.value;
            }).get();
            let damage = $('input[name="damage[]"]').map(function(){
                return this.value;
            }).get();
            let spare = $('input[name="spare[]"]').map(function(){
                return this.value;
            }).get();
            let broken_cable = $('input[name="broken_cable[]"]').map(function(){
                return this.value;
            }).get();
            let damage_cable = $('input[name="damage_cable[]"]').map(function(){
                return this.value;
            }).get();
            let spare_cable = $('input[name="spare_cable[]"]').map(function(){
                return this.value;
            }).get();
            let other = $('input[name="other[]"]').map(function(){
                return this.value;
            }).get();

            $.ajax({
                type: 'POST',
                url: '/workorder/add',
                data: {
                    removed,
                    cracks,
                    broken,
                    damage,
                    pare,
                    damage_cable,
                    broken_cable,
                    spare_cable,
                    other,
                },
                success: function() {
                    console.log("removed   ..  ",removed);
                    console.log("cracks    ..  ",cracks);
                }
            });
        });
    });
</script>
