<div class="card card-warning">
    <div class="card-header">
        <h3 class="card-title">Planed Preventive Maintenance Form </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form role="form" method="POST" action="/add">
            <div class="row">

                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Department</label>
                        <input type="text" name="dep" class="form-control" placeholder="Department ...">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label> Device </label>
                        <input type="text" name="device" class="form-control" placeholder="Device ...">
                    </div>
                </div>
            </div>

            <label> Read The Following And Check The Applied Procedures</label>

            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group">
                        <div class="form-group">
                            <label class="form-check-label"> Dust Removal </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label"> Surface Cleaning </label>
                        </div>

                        <div class="form-group">
                            <label class="form-check-label"> Lubrication (if Any) </label>
                        </div>
                        <div class="form-group">
                            <label class="form-check-label"> Calibration </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" name="clean_dust" type="checkbox">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" name="clean_surface" type="checkbox" >
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" name="lubricated" type="checkbox">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="calibrated" type="checkbox">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label><i class="far fa-times-circle"></i> State Replaced Parts </label>
                <textarea class="form-control" name="desc_replaced" rows="3" placeholder="Parts ..."></textarea>
            </div>

            <div class="form-group">
                <label><i class="far fa-times-circle"></i> State Applied Adjustments </label>
                <textarea class="form-control" name="desc_adjustments" rows="3" placeholder="Parts ..."></textarea>
            </div>

            <div class="form-group">
                <label><i class="far fa-times-circle"></i> Comments </label>
                <textarea class="form-control" name="comments" rows="2" placeholder="Parts ..."></textarea>
            </div>

            <div class="form-group">
                <label> Engineer/Technician </label>
                <input type="text" name="name" class="form-control" placeholder="Department ...">
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>