<div class="card card-warning">
    <div class="card-header">
        <h3 class="card-title">Planed Preventive Maintenance Form </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form role="form">
            <div class="row">

                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Department</label>
                        <input type="text" name="dep" class="form-control" placeholder="Department ...">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label> Device </label>
                        <input type="text" class="form-control" placeholder="Device ...">
                    </div>
                </div>

            </div>
            <label> Read The Following And Check The Applied Tests</label>
            <div class="row">
                <label> Cleaning </label>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <!-- checkbox -->
                    <div class="form-group">
                        <div class="form-group">
                            <label class="form-check-label"> Dust Removal </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label"> Surface Cleaning </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <!-- checkbox -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" name="clean_dust" type="checkbox">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" name="clean_surface" type="checkbox" >
                        </div>
                    </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <!-- checkbox -->
                    <div class="form-group">
                        <div class="form-group">
                            <label class="form-check-label"> Dust Removal </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label"> Surface Cleaning </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <!-- checkbox -->
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" name="clean_dust" type="checkbox">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" name="clean_surface" type="checkbox" >
                        </div>
                    </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                        <label>Select</label>
                        <select class="form-control">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Select Disabled</label>
                        <select class="form-control" disabled>
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <!-- Select multiple-->
                    <div class="form-group">
                        <label>Select Multiple</label>
                        <select multiple class="form-control">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Select Multiple Disabled</label>
                        <select multiple class="form-control" disabled>
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.card-body -->
</div>