<% layout('panel') -%>

<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">

            <div class="row-cols-4">
                <div class="input-group input-group-sm" >
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>


            </div>

            <!-- Main content -->
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" >
                    <table id="work" class="table table-head-fixed text-nowrap"  >
                        <thead>
                        <tr>
                            <th>Engineer Name</th>
                            <th>Date</th>
                            <th>Device</th>
                            <th>Task</th>
                            <th>Done</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i < workOrders.length; i++) { %>
                        <tr>

                            <th><%=workOrders[i].User.Name%></th>
                            <th><%=workOrders[i].Date%></th>
                            <th><%=workOrders[i].Device.Name%></th>
                            <%}%>
                        </tr>

                        </tbody>
                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!--            Enter Your Content Here-->
        </div>
    </div>
</div>
<!-- /.content -->

<% block('css').append('<link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">') %>
<% block('css').append('<link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">') %>
<% block('js').append('<script src="/plugins/datatables/jquery.dataTables.min.js"></script>') %>
<% block('js').append('<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>') %>
<% block('js').append('<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>') %>
<% block('js').append('<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>') %>
<% block('js').append('<script> $(function () {$("#work").DataTable({\n' +
        '      "paging": true,\n' +
        '      "lengthChange": true,\n' +
        '      "searching": true,\n' +
        '      "ordering": true,\n' +
        '      "info": true,\n' +
        '      "autoWidth": false,\n' +
        '      "responsive": true,\n' +
        '    });})</script>') %>