<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
        <h5>My Appointments</h5>
        <p>Something</p>
    </div>
</aside>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Made With <i class="fas fa-heart" style="color: darkred"></i>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020 ExtraCoolCMMS </strong> All rights reserved.
</footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!--<script>-->
<!--    barba.init({-->
<!--        transitions: [{-->
<!--            name: 'opacity-transition',-->
<!--            leave(data) {-->
<!--                return gsap.to(data.current.container, {-->
<!--                    opacity: 0-->
<!--                });-->
<!--            },-->
<!--            enter(data) {-->
<!--                return gsap.from(data.next.container, {-->
<!--                    opacity: 0-->
<!--                });-->
<!--            }-->
<!--        }]-->
<!--    });-->
<!--</script>-->