<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="/images/logo.png" alt="CMMS Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Member's Portal</span>
    </a>
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/profiles/<%= user.Photo %>" class="img-circle elevation-2" style="width: 2.8rem"
                     alt="User Image">
            </div>
            <div class="info">
                <a class="d-block"><%= user.Name %></a>
                <p style="font-size: 0.8rem; color: #d0d0d0; margin: 0;"><%= user.Title %></p>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <% if(user.isAdmin){ %>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-user-shield"></i>
                            <p>
                                Admin
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/auth/userlist" class="nav-link">
                                    <i class="nav-icon fas fa-users"></i>
                                    <p>
                                        Users List
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/indoor" class="nav-link">
                                    <i class="nav-icon fas fa-user-plus"></i>
                                    <p>
                                        Add User
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                <% } %>
                <li class="nav-item">
                    <a href="/devices" class="nav-link">
                        <i class="fas fa-stethoscope nav-icon "></i>
                        <p>Devices</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/departments" class="nav-link">
                        <i class="fas fa-building nav-icon "></i>
                        <p>Departments</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/indoor/show" class="nav-link">
                        <i class="fas fa-users nav-icon "></i>
                        <p>Individuals</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/parts" class="nav-link">
                        <i class="fas fa-microchip nav-icon"></i>
                        <p>Parts</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/workqueue/view" class="nav-link">
                        <i class="fas fa-copy nav-icon"></i>
                        <p>Work Queue</p>
                    </a>
                </li>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
</aside>