<% layout('panel') -%>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">
            <div class="row">
                <!--            Enter Your Content Here-->
                <!-- general form elements -->
                <div class="card card-primary">
                    <!-- /.card-header -->

                    <!-- form start -->
                    <form role="form" action="/devices/add" method="post">
                        <div class="card-body">
                            <!-- Name -->
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Enter name">
                            </div>

                            <!-- Model Number -->
                            <div class="form-group">
                                <label for="modelNumber">Model Number</label>
                                <input type="text" class="form-control" name="modelNumber" placeholder="Model Number">
                            </div>

                            <!-- Serial Number -->
                            <div class="form-group">
                                <label for="serialNumber">Serial Number</label>
                                <input type="text" class="form-control" name="serialNumber" placeholder="Serial Number">
                            </div>

                            <!-- Department -->
                            <div class="form-group">
                                <label for="department">Department</label>
                                <input type="text" class="form-control" name="department" placeholder="Department">
                            </div>

                            <!-- Installation Date -->
                            <div class="form-group">
                                <label for="installationDate">Installation Date</label>
                                <input type="date" class="form-control" name="installationDate"
                                       placeholder="Installation Date">
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

                <!--            Enter Your Content Here-->
            </div>
        </div>
    </div>
</div>