<% layout('panel') -%>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">
            <div > <!--            Enter Your Content Here-->
                <% if (personnel.length > 0) { %>

                    <div class="card-body">
                        <table id="pT" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name </th>
                                    <th>Birthday Date</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var i = 0; i < personnel.length; i++) { %>
                                    <tr>
                                        <td><%= personnel[i].firstName %></td>
                                        <td><%= personnel[i].lastName  %></td>
                                        <td><%= personnel[i].birthday  %></td>
                                        <td><%= personnel[i].Role      %></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                <% } else { %>
                    <h1> 0 Personnel Found </h1>
                <% } %>
            </div>                 <!--            Enter Your Content Here-->
        </div>
    </div>
</div>
<% block('js').append('<script src="/plugins/datatables/jquery.dataTables.js"></script>') %>
<% block('js').append('<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>') %>
<% block('js').append('<script> $(function () {$("#pT").DataTable();})</script>') %>