<% layout('panel') -%>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">
            <div class="card-header">
                <h3 class="card-title">
                    <%= title %>
                </h3>
            </div>
            <div class="row">
                <!--            Enter Your Content Here-->
                <!-- Main content -->
                <section class="content">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Here's the list</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="jsGrid1" class="jsgrid" style="position: relative; height: 100%; width: 100%;">
                                <table class="jsgrid-table">
                                    <tr class="jsgrid-header-row">
                                        <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 150px;">Engineer Name</th>
                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 50px;">Date</th>
                                        <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 200px;">Task Name</th>
                                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Priority</th>
                                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Done</th>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </section>
                <!--            Enter Your Content Here-->
            </div>
        </div>
    </div>
</div>
<!-- /.content -->
<script>
    $(function () {
        $("#jsGrid1").jsGrid({
            height: "100%",
            width: "100%",

            sorting: true,
            paging: true,

            data: db.clients,

            fields: [
                { name: "Engineer Name", type: "text", width: 150 },
                { name: "Priority", type: "number", width: 50 },
                { name: "Task Name", type: "text", width: 200 },
                { name: "Date", type: "select", items: db.countries, valueField: "Id", textField: "Name" },
                { name: "Done", type: "checkbox", title: "Is finished" }
            ]
        });
    });
</script>
</body>
</html>
