<% layout('panel') -%>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">
            <% if (user.isAdmin) { %>
                <div style="margin-bottom: 10px;" class="table-buttons">
                    <!-- Add New Department Button -->
                    <a type="button" class="btn btn-block btn-primary" href="/departments/add">Add New
                        Department</a>
                    <!-- Delete All The Department Button -->
                    <a type="button" class="btn btn-block btn-danger" href="/departments/deleteAll">Erase
                        Database</a>
                </div>
            <% } %>
            <!-- Check length of departments list -->
            <!-- In case we found departments -->
            <% if (departments.length > 0) { %>
                <!-- Departments Table -->

                <table id="departmentsTable" class="table table-bordered table-hover table-striped col-md-12">
                    <!-- Headers -->
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <!-- /Headers -->

                    <!-- Table Rows -->
                    <tbody>
                    <% for(var i=0; i<departments.length; i++) {%>
                                    <tr>
                                        <td><%= departments[i].id %></td>
                                        <td><%= departments[i].Name %></td>
                                        <td><form action="/departments/delete" method="post">
                                                <input type="text" name="departmentID" value="<%= departments[i].id%>" hidden>
                                                <button type="submit" class="btn btn-block btn-danger">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                <% } %>

                                </tbody>
                                <!-- /Table Rows -->

                </table>

            <% }else{ %>
                <h1>No Departments Found</h1>
            <% } %>

            <!--            Enter Your Content Here-->
        </div>
    </div>
</div>

<script> $(function () {
        $("#departmentsTable").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    })</script>') %>